* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  height: 64px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
  background-color: #fd6e0a;
  border: 0;
  color: #ffffff;
}
.btn-secondary {
  height: 64px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  color: #fd6e0a;
  margin-left: 30px;
}
.header {
  background-color: #fff8f3;
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, bottom 46px left 30px;
}
/* header and navigation style */

nav {
  display: flex;
  padding: 50px 200px;
  justify-content: space-between;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
}
/* banner */
.banner {
  display: flex;
  align-items: center;
  margin: 0 40px 0 200px;
}
.banner-subtitle {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 17px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner img{
  margin-bottom: -5px;
}
/* section: */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
.section-description {
  text-align: center;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
/* about */
.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  color: #757575;
  font-size: 20px;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
/* What i do styles */
.skills-container {
  padding-top: 35px;
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #181818;
}
.skill-description {
  color: #757575;
}
/* Resume */
.resume-content {
  display: flex;
  gap: 24px;
  padding-top: 50px;
}

.resume-item {
  margin-top: 40px;
  margin-bottom: 30px;
}
.resume-item .title {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 10px;
  color: #474747;
}
.resume-item .sub-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  color: #757575;
}
.resume-item .description {
  color: #757575;
}
.resume-btn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
}
/* Contact */
footer {
  display: flex;
  background: #fff8f3;
  gap: 100px;
  padding: 130px 230px;
}
.footer-title {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 70px;
}
.footer-description {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
footer a {
  padding: 10px 24px 0 0;
  text-decoration: none;
}
footer input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  background: #ffffff;
  border-radius: 5px;
  width: 75%;
  border: 0;
  padding: 18px 30px;
}
input{
  height: 40px;
}
